
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

/* NavBar */
.navbar {
    border-radius: 0px !important;
    margin: 0px !important;
}

/* Alert Flash Message*/

.alert{ margin:0px; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

.pagination{
    display: flex;
    justify-content: center;
}

/* CSS per posizionamento Footer ed elementi*/

html,body {
	margin:0;
	padding:0;
	height:100%;
}

#header {
    position: fixed;
    z-index: 99;
    width: 100%;
}

#container {
	min-height:100%;
	position:relative;
}

#content {
    min-height: 100vh;
    padding-top: 52px;
    /* Height of the footer */
	padding-bottom: 50px;
    background-color: #eee;
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
}

hr {
    border-top: 1px solid black;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

table > tbody > tr> td > .btn {
    display: inline;
}

.col-sm-4.col-sm-offset-4 {
    display: flex;
    justify-content: center;
}

.rightalign {
    text-align: right;
}

#changeEmail {
    display: flex;
    align-items: flex-end;
}

.nav-tabs>li.active>a {
    color: #555 !important
}
